
#root {
  background-color: black;
  color: blanchedalmond;
}

h1 {
  color: red;
  font-family: 'Aclonica';
  font-size: 60px;
  font-weight: bold;
}

input {
  background-color: black;
  border: 1px solid blanchedalmond;
  color: blanchedalmond;
}

html {
  background-color: black;
}

#movie {
  width: fit-content;
  
}

#header {
  font-family: 'Allerta Stencil';
  font-size: 22px;
}

#searchBox {
  font-family: 'Allerta Stencil';
  font-size: 15px;
  margin-left: 320px;
}

label {
  margin-right: 15px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(199, 185, 185, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(199, 185, 185, 0.3);
}

.image-container {
	position: relative;
	transition: transform 0.3s;
  flex-wrap: wrap;
  border-style: solid;
  border-color: rgb(206, 186, 39);
  border-radius: 2%;
  

}
.image-container1 {
  position: relative;
  flex-wrap: wrap;

}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}


.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 15px;
	padding: 15px;
	text-align: center;
}
body {
	background: #141414;
	color: #ffffff;
}

.my-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

